*{
    margin: 0;
padding: 0;

}
body{
    background-image: url("Photo/pexels-photo-242616.jpeg");
}
#body{
    height: 100%;
    width: 100%;
    top: 0;

    background-size: 100%;
    text-align: center;
}

.memory-body{
    background: #ecfdff;
    min-height: 300px;
    width: 500px;
    height: auto;
    border: #d7ffc7 2px solid;
    padding: 20px;
    margin: 0 auto 0 auto;
border-radius: 10px;
z-index: 1;
    overflow: hidden;
}
#table1{
    background: #ecfdff;
    width: auto;
    border: #d7ffc7 2px solid;
    padding: 20px;
}
#choose{
    color: black;
    font-size: 18px;
    margin: 20px;
}

#choose>input{
    margin: 0 10px ;
}

[data-view='div']{
    background: url("pr-kv50-3.jpg") no-repeat;
    color: black;
    border: #000000 1px solid;
    min-width: 10px;
    min-height: 10px;
    width: 40px;
    height: 40px;
    float: left;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
    cursor: pointer;

    text-align: center;
    z-index: 3;
   background-size: 100%;
    -moz-background-size: 100%;
position: relative;
left: 0;
transition: all .5s cubic-bezier(0, 0, 1, 1);
}

.back{
background: black;
    width: 50px;
    height: 50px;
}

.main{
    opacity: 1.2;
}
.buttons >button{
    background: green;
    color: white;
    margin: 20px;
    height: 35px;
    width: 120px;

    font-size: 24px;
}


#pause{
    background: red;
    color: white;
    margin: 20px;
    height: 35px;
    width: 100px;

    font-size: 24px;
}
.main>h1{
    font-size: 34px;
    color: black;
    font-family: Arial;
}
#timer>p{
    color: black;
    font-size: 34px;
    margin: 0 0 20px 0;
}
#StoreMain{
    font-family: Georgia;
font-size: 40px;

    margin: 10px;

}
#hide{
    width: 200px;
    height: 100px;
    background-position: center;
    position: absolute;
   margin: 15% 19%;
color: black;
    text-transform: uppercase;
z-index: -1;

}
#hide>input{
    width: 200px;
height: auto;

}

p{
    color: black;

}
#field{
display: none;
    width: 100%;
    height: 300px;
margin: 0;
    z-index: 3;
}
#nick1{
    width: 200px;
    margin: 15px 43%;
}
#buttonSend{
    margin: 0 43%;
    height: 30px;
    width: 100px;
}
#table{
display: none;
    border: 1px;
    border-spacing: 1px;
    font-size: 24px;
    margin: 30px;
}
#border{
    left: 30%;
    position: absolute;
    text-align: center;
}
#border>tr,th{
    padding: 5px 10px;
}

